<h4 class="text-center">Products Component</h4>
<br>

<router-outlet></router-outlet>


<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Product Name</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products" class="my-highlight"
      (click)="onProductSelected(product)">
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.qunatity}}</td>
      <td>{{product.cost}}</td>
    </tr>
  </tbody>
</table>


<!-- <div class="row">
  <div class="col-4">
    <ul class="list-group">
      <li class="list-group-item">
        <a [routerLink]="['overview']">Overview</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['specification']">Specification</a>
      </li>
    </ul>
  </div>
  <div class="col-8">
    <router-outlet></router-outlet>
  </div>
</div> -->

