<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header">
          <h4 class="text-center">Login Form</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <form>
                <!-- Username / email field -->
                <div class="form-group">
                  <label for="username">Username : </label>
                  <input type="text" class="form-control" name="username">
                </div>
                <!-- Password field -->
                <div class="form-group">
                  <label for="password">PAssword : </label>
                  <input type="password" name="password" class="form-control">
                </div>
                <!-- Buttons - Submit | Reset -->
                <div class="form-group">
                  <div class="row">
                    <div class="col-6">
                      <button class="btn btn-success btn-block">Submit</button>
                    </div>
                    <div class="col-6">
                      <button class="btn btn-warning btn-block">Reset</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
