<div class="container">
<h4>Hello Angular!!!</h4>
<!--
<input type="text" [(ngModel)]="title">

<button (click)="showComp=!showComp">Toggle Comp</button>

<app-life-cycle-demo *ngIf="showComp" [title]="title">
  <h5 #heading>This is projected from Parent</h5>
</app-life-cycle-demo> -->

<!-- <app-decorators-demo></app-decorators-demo> -->

<!-- <app-parent></app-parent> -->

<!-- <app-attribute-demo></app-attribute-demo> -->

<!-- <app-structural-demo></app-structural-demo> -->

<!-- <app-pipe-demo></app-pipe-demo> -->

<!-- <app-users></app-users> -->

<!-- <app-login></app-login> -->

<!-- <app-register></app-register> -->

<!-- <app-ctr-one></app-ctr-one> -->

<!-- <hr> -->

<!-- <app-ctr-two></app-ctr-two> -->

<!-- <app-async-demo></app-async-demo> -->

<!-- <app-observable-demo></app-observable-demo> -->

<app-obs-operators-demo></app-obs-operators-demo>

</div>
